<p id="notice"><%= notice %></p>
<nav>
  <% if user_signed_in? %>
    <p>
      <%= link_to 'edit profile', edit_profile_path(current_user.profile), class: 'btn btn-primary' %>
      <%= link_to 'edit account', edit_user_registration_path, class: 'btn btn-primary' %>
    </p>
    
    <p>
      <%= link_to 'home', root_path, class: 'btn btn-primary' %>
      <%= link_to 'sign out', destroy_user_session_path, class: 'btn btn-primary', method: :delete %>
    </p>
    
    <p>
      <%= link_to 'my conversations', conversations_path, class: 'btn btn-success' %>
    </p>
    
    <p>
      <%= link_to 'add a tool', new_tool_path, class: 'btn btn-success' %>
    </p>
  <% else %>
    <p>
      <%= link_to 'sign in', new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to 'sign up', new_user_registration_path, class: 'btn btn-primary' %>
    </p>
  <% end %>
</nav>

<h1>Tool listings</h1>
  
<% @tools.each do |tool| %>
  <div>
    <%= tool.name %>
  </div>

  <div>  
    <%= tool.owner.profile.state %>
    <%= tool.owner.profile.suburb %>
    <%= tool.owner.profile.postcode %>
  </div>

  <div> 
    <%= link_to 'Show', tool, class: 'btn btn-success' %>
    <% if policy(tool).edit? %>
      <%= link_to 'Edit', edit_tool_path(tool), class: 'btn btn-warning' %> 
    <% end %>
    
    <% if ((user_signed_in?) && (tool.owner_id == current_user.id)) %>
      <%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end%>
  </div>
  <br>
<% end %>