<p id="notice"><%= notice %></p>

<nav>
  <% if user_signed_in? %>
    <p>
      <%= link_to 'edit profile', edit_profile_path(current_user.profile), class: 'btn btn-primary' %>
      <%= link_to 'edit account', edit_user_registration_path, class: 'btn btn-primary' %>
    </p>
    
    <p>
      <%= link_to 'home', root_path, class: 'btn btn-primary' %>
      <%= link_to 'sign out', destroy_user_session_path, class: 'btn btn-primary', method: :delete %>
    </p>
        
    <p>  
      <%= link_to 'see tool listings', tools_path, class: 'btn btn-success' %>
    </p>

    <p>
      <%= link_to 'add a tool', new_tool_path, class: 'btn btn-success' %>
    </p>
  <% else %>
    <p>
      <%= link_to 'sign in', new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to 'sign up', new_user_registration_path, class: 'btn btn-primary' %>
    </p>
  <% end %>
</nav>

<% if @conversations.empty? %>
  <div>"No conversations"</div>
<% else %>
  <!-- Display conversations that user is part of -->  
  <% @conversations.each do |conversation| %>
    <% if (conversation.hirer == current_user) %>
      <div><%= link_to "go to conversation with owner #{conversation.owner.profile.username}", conversation %></div>
    <% elsif (conversation.owner == current_user) %>
      <div><%= link_to "go to conversation with hirer #{conversation.hirer.profile.username}", conversation %></div>
    <% else %>
    <% end %>
    <br>
  <% end %>
<% end %>