<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @conversation.owner %>
</p>

<p>
  <strong>Hirer:</strong>
  <%= @conversation.hirer %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
